nav {
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background-color: white;
  color: rgb(43, 106, 118);
  align-items: center;
  box-shadow: 0px 2px 2px lightgrey;

  .link {
    flex: 2;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(43, 106, 118);
    text-decoration: none;
    font-size: 18px;
  }
}

.sections {
  flex: 1.5;
  display: flex;
  justify-content: space-between;
  text-align: right;

  .link {
    min-width: 114px;
  }
}

.menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .sections {
    display: none;
  }

  .menu {
    display: block;
  }
}
